*{
    margin: 0px;
    padding: 0px;
    
    
}
/*font-family: 'IBM Plex Sans', sans-serif;
font-family: 'IBM Plex Mono', monospace;
*/
.page-container{
    max-width: 320px;
}

header { 
    height: 44px;
    display:block;
    position:relative;
}

#page-nav label {
    display: inline-block;
    font-style: normal;
    font-size: 1.2em;
    position: absolute;
    top: 16px;
    right: 19px;    
}

#page-nav input{
    display: inline-block;
    font-style: normal;
    font-size: 1.2em;
    position: absolute;
    top: 16px;
    right: 19px;
    opacity: 0;
} 
#page-nav ul li {
    display: block;
    margin-top: 16px;
    margin-bottom: 24px;
    margin-left: 16px;
}
    
#page-nav ul {
        display: none;
      }
      
#page-nav input:checked ~ ul {
        display: block;
        background: #0000EC;
        width: 100%;
        position: absolute;
        top: 42px;
}

#page-nav ul a{
    font-family: 'IBM Plex Mono', monospace;
    font-size: 16px;
    color: #FFFFFF;
    letter-spacing: 0;
    line-height: 28px;
    list-style-type: none;
    text-decoration: none;
}

#logo-bd{
    height: 24px;
    width: 24px;
    position: absolute;
    top: 10px;
    right: 280px;
    bottom: 10px;
    left: 16px;

}

/* Main section */


.intro-section{
display: inline-block;
height: 244px;
margin-top: 29px;
margin-bottom: 24px;
}
.main-title{
    padding-left: 16px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 36px;
    color: #060A24;
    letter-spacing: 0;
    line-height: 42px;
    font-weight: lighter;
}
spam {
    text-decoration-line: line-through;
    font-family: 'IBM Plex Sans', sans-serif;
}

.intro-section p{
    display: block;
    margin: 16px 16px 36px 16px;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 14px;
    color: #060A24;
    letter-spacing: 0;  
    line-height: 22px;
}
.button{
    background-color: #00F3BB;
    border: none;
    padding: 13px 96px;
    margin: 0px 16px 36px;
    text-decoration: none;
    display: inline-block;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 16px;
    color: #060A24;
    letter-spacing: 0;
    text-align: center;
    line-height: 22px;
    text-transform: uppercase;
    font-weight: bold;
   
}
 

 