
.header_wrapper{
    max-width: 1440px;
    max-height:80px;
    background-color: #FFFFFF 100%;
}
.main_header_links{
    display: flex;
    flex-flow: row wrap;
}
.episodes_header{
    display: flex;
    flex-direction:row;
    margin: 26px 24px 26px 854px;
}
.about_us{
    display: flex;
    flex-direction:row;
    margin: 26px 24px 26px;
}
.interviews{
    display: flex;
    flex-direction:row;
    margin: 26px 24px 26px;
}
.topics{
    display: flex;
    flex-direction:row;
    margin: 26px 24px 26px;
}
.bd_logo{
    width: 36px;
    height: 36px;
}
font-family: 'Bebas Neue', cursive;
font-family: 'PT Sans Narrow', sans-serif;