.dropdown_content{
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 224px;
    width: 320px;
    background-color: #0000EC;
    display: none;
    position: absolute;
    right: 0;

}
header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items:baseline;
}
.dropdown_content a{
    display: block;
    width: 87px;
    height: 28px;
    font-family: IBMPlexMono;
    font-size: 16px;
    color: #FFFFFF;
    letter-spacing: 0;
    line-height: 28px;
    padding: 16px 217px 8px 16px;
    
}

.dropdown_menu{
    position: relative;
    display: inline-block;
}   
.dropdown_menu:hover .dropdown_content{
    display: block;
}
